@media (max-width: 600px) {
    
    /* if the modile style has been applied then the rule is enforced */
    #rtc-container.mobile #rtc-video-container {
        width: 100%;
        height: 60%;
    }
    
    /* if the modile style has been applied then the rule is enforced */
    #rtc-container.mobile #rtc-messages-container {
        width: 100%;
        height: 40%;
    }

}